{# Automatically extends the right outer layout and also handles AJAX siutations #}
{% extends data.outerLayout %}

{% block title %}
  {# Create a useful, SEO-friendly title tag based on what we have #}
  {% if data.piece %}
    {{ data.piece.title }}
  {% elseif data.page %}
    {{ data.page.title }}
  {% else %}
    {{ apos.log('Looks like you forgot to override the title block in a template that does not have access to an Apostrophe page or piece.') }}
  {% endif %}
{% endblock %}

{% block extraHead %}
  {#
    This block outputs its contents in the HTML document's <head>.
    It is a good place to put extra <script> <link> and <meta> tags.
  #}
{% endblock %}

{% block beforeMain %}
  {#
    We recommend you use the beforeMain block for global page components
    like headers or navigation.
  #}


  <div class="imgContainer"><a href="{{ data.home._url }}"><img class="imgContainer__img" src="/modules/my-apostrophe-assets/pics/canard.png"></a></div>

  <div class="o-hamburger">
    <label class="o-hamburger__icon" for="toggle">&#9776</label>
  </div>

  <input class="o-checkbox" type="checkbox" id="toggle">
  <div class="o-navi">

    <ul class="o-navi__ul">
      {% if data.page._ancestors[0] %}
        <li class="o-navi__ul__Li"><a class="o-navi__ul__Li__Text" href="{{ data.home._url }}">{{ data.home.title }}</a></li>
      {% endif %}

      {% for tab in data.home._children %}
        <li class="o-navi__ul__Li {% if data.page and
          (apos.pages.isAncestorOf(tab, data.page) or tab._id == data.page._id)
        %}
          o-navi__ul__Li--current
        {% endif %}"><a class="o-navi__ul__Li__Text" href="{{ tab._url }}">{{ tab.title }}</a></li>
      {% endfor %}

      {% if not data.user %}
      <li class="o-navi__ul__Li o-navi__ul__login"><a class="o-navi__ul__login__text" href="/login">Login</a></li>
      {% endif %}
    </ul>



  </div>




{% endblock %}





{% block main %}
  {#
    Usually, your page templates in the apostrophe-pages module will override
    this block. It is safe to assume this is where your page-specific content
    should go.
  #}
{% endblock %}


{% block afterMain %}
  {#
    This would be a great place to put a global footer.
  #}


    {{ apos.singleton(data.page, 'footer', 'footer', {
      })
    }}


{% endblock %}
